html {
  background: hsl(0,20%,20%);
}
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'avenir next', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding:0;
  margin:0;
  border: solid hsl(0,20%,20%) 9px;
  color: hsl(0,20%,20%);
}
h1,h2 {
  margin:0;
  padding:0;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  margin: 1.5rem 0;
}
img {
  max-width:100%;
}
iframe {
  border:0 none;
  width: 100%;
}
a {
  text-decoration:none;
  color: hsl(0,20%,20%);
}
pre {
  background: #282C34;
  color: #A7AFBC;
  overflow:auto;
  padding: 1.5rem;
}
blockquote {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 0rem;
  margin: 3rem 0;
}
blockquote small {
  font-size: .875rem;
}
blockquote p:last-of-type {
  margin-bottom: 0.25rem;
}
a.hover:hover {
  box-shadow: -3px 0 0 0 hsl(0,20%,20%);
  transition: all 0.3s ease-in-out;
}
ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align:center;
}
.text-right {
  text-align:right;
}
.monospace {
  font-family: courier_prime_sans, monaco, Andale Mono, monospace;
}
.serif {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.sans-serif {
  font-family: 'avenir next', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.system-ui {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.track-1 {
  letter-spacing: 1px;
}
.m-x-auto {
  margin-left:auto !important;
  margin-right:auto !important;
}
.m-a-1 {
  margin:0.5rem !important;
}
.m-a-2 {
  margin:1rem !important;
}
.m-t-1 {
  margin-top:0.5rem !important;
}
.m-b-1 {
  margin-bottom:0.5rem !important;
}
.m-b-2 {
  margin-bottom:1rem !important;
}
.m-y-1 {
  margin-top:0.5rem !important;
  margin-bottom:0.5rem !important;
}
.p-a-1 {
  padding:0.5rem !important;
}
.p-a-2 {
  padding:1rem !important;
}
.p-x-1 {
  padding-left:0.5rem !important;
  padding-right:0.5rem !important;
}
.p-x-2 {
  padding-left:1rem !important;
  padding-right:1rem !important;
}
.p-x-3 {
  padding-left:1.5rem !important;
  padding-right:1.5rem !important;
}
.p-y-1 {
  padding-top:0.5rem !important;
  padding-bottom:0.5rem !important;
}
.p-y-2 {
  padding-top:1rem !important;
  padding-bottom:1rem !important;
}
.p-y-3 {
  padding-top:1.5rem !important;
  padding-bottom:1.5rem !important;
}
.p-b-1 {
  padding-bottom:0.5rem !important;
}
.gray-2 {
  color: hsl(0,20%,80%);
}
.bg-gray-1 {
  background: hsl(65,30%,97%);
}
.bg-gray-dark {
  background: hsl(0,20%,20%);
}
.strike-behind::after {
  margin: -0.75em auto 0;
  display:block;
  content:'';
  height: 1px;
  background:hsl(65,30%,90%);
}
.max-width-1 {
  max-width:50em;
}
.vert-middle {
  vertical-align: middle;
}
.uppercase {
  text-transform:uppercase;
}
.tracked {
  letter-spacing: 4px;
}
.bolder {
  font-weight:900;
}
.font-xl {
  font-size:40px;
}
.display-row {
  display:table-row;
}
.display-cell {
  display:table-cell;
}
.fit {
  width:100%;
}
.border-bottom-double {
  border-bottom-style: double;
}
.border-gray-1 {
  border-color: hsl(0,20%,20%);
}