---
import Layout from '../layouts/2025.astro'
import { getCollection } from 'astro:content'
import Time from '../components/Time.astro'
const title = "Is that supposed to go there? A blog by olizilla"
const rawPosts = (await getCollection('posts').then(posts => posts.filter(p => p.data.published === true))).reverse()
const posts = await Promise.all(rawPosts.map(async p => {
	const isoDateStr = p.id.slice(0, 10)
	const date = new Date(isoDateStr)
	const content = await p.render()
	const title = p.data.title ?? content.headings.at(0)?.text
  const link = p.data.link ?? `/${p.slug}`
  const image = p.data.image
	return { ...p, date, title, link, image }
}))

---
<Layout logoLink="/">
	<nav>
		{ posts.map(post => (
			<section>
					<h1>
						<a href={ post.link } class="font-extrabold">{ post.title ?? '?' }</a>
					</h1>
					{ post.image && <img src={post.image} /> }
					<small class="block text-right text-sm font-mono uppercase tracking-wide text-zinc-400 -mb-1 pt-2"><Time date={post.date} /></small>
					<hr />
			</section>
		)) }
	</nav>
	<section>
			<h1>
				<a href="/unicode/v1" class="font-extrabold">Unicode</a>
			</h1>
			<iframe src="/unicode/v1" width="100%" height="500px"></iframe>
			<small class="block text-right text-sm font-mono uppercase tracking-wide text-zinc-400 -mb-1 pt-2">2010</small>
		</a>
	</section>
</Layout>