---
const { href,img,title,desc } = Astro.props
---
<a class="bg-white p-4 border-b border-zinc-100 block flex" href={href}>
  <img class="h-14 w-14" src={img} alt="">
  <span class="pl-4 block">
    <span class="font-bold text-lg block">{title}</span>
    <span class="text-base ">{desc}</span>
  </span>
</a>
