<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link href="http://feeds.feedburner.com/olizilla" rel="alternate" title="RSS" type="application/rss+xml" />
	<link href="http://www.gravatar.com/avatar/9d1124bf8f7fe1b93a92a7927accd9a9?s=80" rel="icon" type="image/png"  />
	<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Amatic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<img src="http://www.gravatar.com/avatar/9d1124bf8f7fe1b93a92a7927accd9a9?s=80" onclick="window.open('/subconscious')" alt=""/>
		<div class="text">
			<div class="title"><a href="/" title="it doesn't look right to me...">Is that supposed to go there?</a></div>
			<div class="subtitle">A blog by <a href="http://twitter.com/olizilla">olizilla</a></div>
		</div>
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="footer">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'olizilla';

			// var disqus_identifier = 'unique_dynamic_id_1234';
			// var disqus_url = 'http://example.com/permalink-to-page.html';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</body>
</html>