<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link href="http://www.gravatar.com/avatar/9d1124bf8f7fe1b93a92a7927accd9a9?s=80" rel="icon" type="image/png" />
  <style>
  body {
    text-align:center;
    margin:0;
    background: #F7F7F7;
    overflow: hidden;
  }
  .tableflip {
    display: block;
    width:30px;
    height: 34px;
    position: absolute;
    top: 20px;
    left:18px;
    background: url(https://tableflip.io/img/tableflip.min.svg) no-repeat;
    background-size: 100% auto;
    font-size:0;
    user-select: none;
    opacity: 0.8;
    transition: all 400ms;
  }
  .tableflip:hover {
    opacity: 1;
  }
  </style>
  <body>
    <a title="(╯°□°）╯︵ TABLEFLIP" class="tableflip" href="https://tableflip.io">TABLEFLIP</a>
    {{ content }}
  </body>
</head>
