@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin '@tailwindcss/typography';

html {
  background: hsl(0, 20%, 20%);
}
body {
  background: hsl(65, 30%, 97%);
  border: solid hsl(0, 20%, 20%) 9px;
  color: hsl(0, 15%, 15%);
}

@font-face {
  font-family: "courier_prime_sans";
  src: url("courier_prime_sans-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.inter-base {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.prose .cite {
  @apply text-zinc-500 font-mono block mt-1 text-sm;
}

.prose .comment {
  @apply text-zinc-600 font-mono text-base;
}

.prose em {
  @apply font-serif;
}

.caption {
  @apply font-mono block -mt-7 rounded-b-md px-3 py-2;
}
