---
import '../base.css'
import Prose from '../components/Prose.astro';
const { title } = Astro.props.frontmatter || Astro.props;
---
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{title}</title>
	<link href="http://www.gravatar.com/avatar/9d1124bf8f7fe1b93a92a7927accd9a9?s=80" rel="icon" type="image/png"  />
</head>
<body class="font-serif min-h-screen">
  <header class="" style="background-color: hsl(0,20%,20%); padding-bottom:9px;">
    <a href="/blog" class="block text-current">
      <img class="inline-block mx-auto" title="is that supposed to go there?" alt="logo" src="/res/img/olizilla-trace.svg" style="height:40px; vertical-align:-1em;"/>
    </a>
  </header>
  <div class="mx-auto max-w-2xl pt-8 px-2">
    <Prose>
      <slot/>
    </Prose>
  </div>
	<footer class="pt-16 text-center text-2xl -mb-1">🌻</footer>
</body>
</html>