---
const { frontmatter, headings } = Astro.props;
const title = frontmatter?.title || Astro.props.title || headings?.find(h => h.depth === 1)?.text;
const tagline = frontmatter?.tagline || Astro.props.tagline || "Oli Evans (olizilla) — software engineer, co-operator, and writer. Thoughts on open source, open protocols, and web development.";
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content={tagline} />
	<link rel="icon" type="image/png" href="https://secure.gravatar.com/avatar/9d1124bf8f7fe1b93a92a7927accd9a9?s=80"  />
	<title>{ title }</title>
</head>
<body>
	<slot/>
</body>
</html>
